.lookingFor {
  margin-bottom: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.lookingFor p {
  margin: 0 0 0 0;
  font-weight: 500;
}

.lookingForHeader {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.bookItemContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
