.lookingFor {
  margin-bottom: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.lookingFor p {
  margin: 0 0 0 0;
  font-weight: 500;
}

.lookingFor > p {
  margin: 5px 0 5px 0;
}

.bookItemContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}