.bookItem {
  position: relative;
  background-color: #EDEDED;
  border-radius: 5px;
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.bookItemHeader {
  display: flex;
  gap: 4px;
  align-items: center;
}

.bookItemDescription {
  display: flex;
  gap: 4px;
  align-items: center;
  color: dimgray;
}

.bookItemTitle,
.bookItemAuthor {
  font-weight: 600;
  font-size: 0.9em;
}

.bookItemPublishedAndState {
  font-size: 0.75em;
  line-height: 1;
}

.deleteButton {
  position: absolute;
  top: -9px;
  right: -9px;
  z-index: 1000;
  width: 17px;
  height: 17px;
  border: none;
  border-radius: 50%;
  background-color: #db301d;
  color: white;
  font-size: 0.8em;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.deleteButton span {
  position: relative;
  top: 1px;
  font-size: 0.8em;
  /* adjust up/down as needed */
}

.bookItem:hover .deleteButton {
  opacity: 1;
}